@{
    ViewBag.Title = "Сентадо";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="content" class="column" role="main">
        <article class="node-255 node node-long-page view-mode-full clearfix">
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                    <div class="field-item even">
                        <div class="long-page online">
                            <div class="field-big-img">
                                <div class="inner">
                                    <div class="slide">
                                        <div class="txt">
                                            <div class="ttl">
                                                Наилучшее решение<br />
                                                для вашей спины
                                            </div>
                                            <div class="nfo">
                                                Если Вы имеете сидячий образ жизни,<br/> тогда это для Вас
                                            </div>
                                            <div class="bttn bttn-239">
                                                <a href="https://rbkmoney.ru/Common/Registereshop.aspx">Заказать</a>
                                            </div>
                                        </div>
                                        <div class="down_arrow">
                                            &nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row equiring">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>Сидение Сентадо</h1>
                                            <div class="content">
                                                <div class="hdr">
                                                    Принимайте карты</div>
                                                <p>Подключитесь к RBK Money и Ваши клиенты получат возможность расплачиваться за товары и услуги картами международных платежных систем Visa International и MasterCard Worldwide.</p>
                                                <div class="hdr pref">
                                                    Преимущества</div>
                                                <ul>
                                                    <li>
                                                        Низкий тариф - всего 3,9% <a class="green" href="http://www.rbkmoney.ru/node/11">подробнее о тарифах</a></li>
                                                    <li>
                                                        Простая интеграция - <a class="green" href="http://www.rbkmoney.ru/primery-integracii">посмотреть примеры</a></li>
                                                    <li>
                                                        Возможность быстрого вывода средств из кошелька RBK Money на ваш расчетный счет</li>
                                                    <li>
                                                        Круглосуточная техническая поддержка</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-6 border grid">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>Безопасность</h1>
                                            <div class="content">
                                                <div class="hdr">
                                                    Безотзывные платежи</div>
                                                <p>Все платежи в системе RBK Money безотзывны. Это значит, что вы не рискуете столкнуться с мошенником, который, получив товар, захочет вернуть деньги</p>
                                                <div class="hdr" style="margin-top:50px">
                                                    Мониторинг транзакций</div>
                                                <p>Обеспечив многоуровневую систему мониторинга транзакций, RBK Money взяла на себя все риски по защите от различных видов мошенничества, предоставив 100% гарантию безопасности клиентам</p>
                                                <div class="hdr" style="margin-top:50px">
                                                    100% возмещение</div>
                                                <p>Вашим клиентам будут возвращены деньги в полном объеме, если сделка пойдет не так, мы гарантируем</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-4 ">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>
                                                Способы оплаты</h1>
                                            <span class="hdr ">Подключите одним пакетом все популярные виды оплаты</span>
                                            <table>
                                                <colgroup>
                                                    <col width="15%" />
                                                    <col width="29%" />
                                                    <col width="12%" />
                                                    <col width="15%" />
                                                    <col width="29%" />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/o-1.png" /></td>
                                                        <td>
                                                            <h3>Принимайте карты</h3>
                                                            <p>Подключитесь к RBK Money и Ваши клиенты получат возможность расплачиваться за товары и услуги картами международных платежных систем Visa International и MasterCard Worldwide</p>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-11.jpg" /></td>
                                                        <td>
                                                            <h3>
                                                                Почта России</h3>
                                                            <p>Вы можете пополнить кошелек RBK Money в отделениях почтовой связи на всей территории Российской Федерации: быстро и без комиссии</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-8.png" /></td>
                                                        <td>
                                                            <h3>
                                                                Банковский перевод</h3>
                                                            <p>Пополнить свой кошелек и оплатить счет можно в отделении любого банка России. За осуществление перевода взимается комиссия в соответствии с тарифами банка</p>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-12.png" /></td>
                                                        <td>
                                                            <h3>
                                                                Салоны связи</h3>
                                                            <p>Вы можете пополнить кошелек RBK Money в любом салоне связи Евросеть, Связной, МобилЭлемент, Альт Телеком моментально и без комиссии</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-9.jpg" /></td>
                                                        <td>
                                                            <h3>
                                                                Платежные терминалы</h3>
                                                            <p>Вы можете пополнить кошелек RBK Money в платежных терминалах, присутствующих во всех городах Российской Федерации быстро и без комиссии</p>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-13.png" /></td>
                                                        <td>
                                                            <h3>
                                                                Денежные переводы</h3>
                                                            <p>Пополнение кошелька RBK Money через крупнейшие системы денежных переводов доступно во многих городах Российской Федерации. Комиссия за перевод составляет 0%.</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-10.png" /></td>
                                                        <td>
                                                            <h3>
                                                                Интернет-банкинг</h3>
                                                            <p>Не отходя от компьютера вы можете в любой момент перевести средства с вашего банковского счета на кошелек</p>
                                                        </td>
                                                        <td>
                                                            &nbsp;</td>
                                                        <td>
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-7-1.png" /></td>
                                                        <td>
                                                            <h3>
                                                                Кошелек RBK Money</h3>
                                                            <p>Любая покупка может быть оплачена с кошелька пользователся RBK Money</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!--<div class="row row-1 shadow border ">--><!--  <div class="wrapper grid">--><!--    <div class="inner">--><!--      <div class="container">--><!--        <h1>--><!--          Наши преимущества</h1>--><!--        <table>--><!--          <colgroup>--><!--            <col width="15%"/>--><!--            <col width="29%"/>--><!--            <col width="12%"/>--><!--            <col width="15%"/>--><!--            <col width="29%"/>--><!--          </colgroup>--><!--          <tbody>--><!--          <tr>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-1.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Простая бухгалтерия</h3>--><!--              <p>Мы работаем по простым и понятным договорам, которые легко отразить в отчетности и предоставляем все документы для вашей бухгалтерии</p>--><!--            </td>--><!--            <td>--><!--              &nbsp;</td>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-4.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Вам платят любым удобным способом</h3>--><!--              <p>Все для ваших клиентов: 30 способов оплаты в 250 000 точках по всей территории Российской Федерации</p>--><!--            </td>--><!--          </tr>--><!--          <tr>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-2.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Платежи в реальном времени</h3>--><!--              <p>Мы предоставляем вам возможность просматривать все транзакции в режиме реального времени</p>--><!--            </td>--><!--            <td>--><!--              &nbsp;</td>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-5.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Помощь без выходных</h3>--><!--              <p>В любое время вы и ваши клиенты могут обратиться в службу поддержки RBK Money, которая работает без перерывов и выходных</p>--><!--            </td>--><!--          </tr>--><!--          <tr>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-3.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Никаких лишних регистрация</h3>--><!--              <p>Благодаря уникальной технологии, ваш клиент сможет совершить оплату любым способом, зная только номер своего заказа!</p>--><!--            </td>--><!--            <td>--><!--              &nbsp;</td>--><!--            <td>--><!--              <img alt="" src="/--><!--/rbkm-internals/images/on-6.png"/></td>--><!--            <td>--><!--              <h3>--><!--                Нам доверяют лучшие</h3>--><!--              <p>Уже 24 000 онлайн-магазинов выбрали нас, среди них известнейшие Wargaming, Техносила, Softkey, Ebay Today, AMF, Ddestiny, Gaijin и другие</p>--><!--            </td>--><!--          </tr>--><!--          </tbody>--><!--        </table>--><!--      </div>--><!--    </div>--><!--  </div>--><!--</div>-->
                        
                            <div class="row row-2 border grid">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1 class="center">
                                                Развивайте бизнес с нами</h1>
                                            <span class="hdr center">Познакомьтесь с нашими специальными проектами для вашего бизнеса</span>
                                            <div class="carousel slide" id="on-carousel">
                                                <a class="right carousel-control" data-slide="next" href="#on-carousel">&nbsp;</a> <a class="left carousel-control" data-slide="prev" href="#on-carousel">&nbsp;</a>
                                                <ol class="carousel-indicators">
                                                    <li class="active" data-slide-to="0" data-target="#on-carousel">
                                                        &nbsp;</li>
                                                    <li data-slide-to="1" data-target="#on-carousel">
                                                        &nbsp;</li>
                                                </ol>
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="active item">
                                                        <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-slide-1.png" />
                                                        <div class="desc">
                                                            <div class="ttl">
                                                                Программа лояльности</div>
                                                            <div class="info">
                                                                Каждый раз, оплачивая покупку в нашей системе, клиент получает подарок, кроме того, система ведет историю покупок клиента и предлагает ему именно те подарки, которые ему интересны. Участвуя в нашей программе вы получаете довольных клиентов, которые постоянно покупают именно у вас.</div>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/on-slide-2.png" />
                                                        <div class="desc">
                                                            <div class="ttl">
                                                                Совместный маркетинг</div>
                                                            <div class="info">
                                                                Вы предоставляете своим клиентам скидки и/или подарки при оплате Ваших продуктов через кошелек RBK Money; мы, в свою очередь, продвигаем Ваши специальные предложения среди своих пользователей.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Carousel nav --></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-5">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>
                                                Мультиканальным магазинам</h1>
                                            <div class="bttn bttn-230">
                                                <a href="#">Заявка на подключение</a></div>
                                            <div class="content">
                                                <div class="hdr">
                                                    RBK Card</div>
                                                <p>Умная замена дорогостоящего платежного мини-терминала разработан специально для увеличения продаж небольших компаний и частных предпринимателей. Начните принимать платежи уже сегодня с помощью компьютера, планшета или мобильного телефона на базе Android или iOS, как с обычным терминалом оплаты банковской картой!</p>
                                                <div class="hdr" style="margin-top:50px">
                                                    Преимущества</div>
                                                <ul>
                                                    <li>
                                                        Бесплатный кардридер</li>
                                                    <li>
                                                        Бесплатная программа для вашего мобильного телефона или планшета</li>
                                                    <li>
                                                        Возможность быстрого вывода средств из кошелька RBK Money на ваш расчетный счет</li>
                                                    <li>
                                                        Круглосуточная техническая поддержка</li>
                                                    <li>
                                                        Никакой абонентской платы и ограничений по переводу</li>
                                                    <li>
                                                        Вам не придется тратиться на покупку дополнительного оборудования и обучение персонала</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row feedback border grid">
                                <div class="wrapper shadow">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>
                                                Отзывы клиентов
                                            </h1>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_wg.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>
                                                                Wargaming.net</h3>
                                                            <p>RBK Money - ответственный и надежный деловой партнер нашей компании, с которым хочется продолжать работать дальше.</p>
                                                            <p class="from">Николай Кацелапов<br />
                                                                Генеральный директор<br />
                                                                по развитию бизнеса</p>
                                                        </td>
                                                        <td class="delim">
                                                            &nbsp;</td>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_gl.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>
                                                                Гослото</h3>
                                                            <p>Компания RBK Money смогла предложить очень удобный и понятный сервис на русском языке, а также круглосуточную поддержку для наших пользователей</p>
                                                            <p class="from">Кирилл Райченко<br />
                                                                Руководитель отдела<br />
                                                                электронной коммерции</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_dest.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>Destiny development</h3>
                                                            <p>При сотрудничестве с компанией RBK Money мы спокойны за сохранность своих средств. 100% защита от фрода и чардж-беков</p>
                                                            <p class="from">
                                                                Антон Аграновский<br />
                                                                Генеральный директор
                                                            </p>
                                                        </td>
                                                        <td class="delim">&nbsp;</td>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_spec.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>Центр "Специалист"</h3>
                                                            <p>Большим преимуществом RBK Money является высочайший уровень защиты. Наши клиенты уверены в прохождении платежей и сохранности личных данных.</p>
                                                            <p class="from">
                                                                Дмитрий Гудзенко<br />
                                                                Директор ОЧУ<br />
                                                                "Специалист"
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_life.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>
                                                                Благотворительный фонд<br />
                                                                "Подари жизнь"</h3>
                                                            <p>Благодаря сервису RBK Money многие пациенты перестали быть пациентами и стали просто детьми.</p>
                                                            <p class="from">
                                                                Григорий Мазманянц<br />
                                                                Исполнительный директор<br />
                                                                фонда
                                                            </p>
                                                        </td>
                                                        <td class="delim">&nbsp;</td>
                                                        <td class="logo">
                                                            <img alt="" src="../sites/default/themes/rbkm/rbkm-internals/images/logo_amf.jpg" /></td>
                                                        <td class="tm">
                                                            <h3>AMF International</h3>
                                                            <p>Мы довольны профессионализмом работы сотрудников RBK Money, высоким уровнем безопасности платежей и функционалом платежного сервиса.</p>
                                                            <p class="from">
                                                                Бриммерберг П.Е<br />
                                                                Генеральный директор
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-7 shadow">
                                <div class="wrapper">
                                    <div class="inner">
                                        <div class="container">
                                            <h1>
                                                Начните прямо сейчас</h1>
                                            <div class="bttn bttn-310">
                                                <a href="https://rbkmoney.ru/Common/Registereshop.aspx">Подключить магазин</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-9">
                                <div aria-hidden="true" class="close" data-dismiss="modal">
                                    &nbsp;</div>
                                <div class="container">
                                    <h1 class="center">Заявка на подключение</h1>
                                    <form class="webform-client-form" enctype="multipart/form-data" action="http://www.rbkmoney.ru/ru/form/zayavka-na-podklyuchenie-rbk-card" method="post" id="webform-client-form-50" accept-charset="UTF-8">
                                        <div>
                                            <div class="form-item webform-component webform-component-textarea" id="webform-component-description">
                                                <label for="edit-submitted-description">Описание вашего бизнеса <span class="form-required" title="Обязательное поле">*</span></label>
                                                <div class="form-textarea-wrapper"><textarea id="edit-submitted-description" name="submitted[description]" cols="60" rows="5" class="form-textarea required"></textarea></div>
                                            </div>
                                            <div class="form-item webform-component webform-component-textfield" id="webform-component-name">
                                                <label for="edit-submitted-name">Ваше имя <span class="form-required" title="Обязательное поле">*</span></label>
                                                <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required" />
                                            </div>
                                            <div class="form-item webform-component webform-component-email" id="webform-component-email">
                                                <label for="edit-submitted-email">E-mail для связи <span class="form-required" title="Обязательное поле">*</span></label>
                                                <input class="email form-text form-email required" type="email" id="edit-submitted-email" name="submitted[email]" size="60" />
                                            </div>
                                            <input type="hidden" name="details[sid]" value="" />
                                            <input type="hidden" name="details[page_num]" value="1" />
                                            <input type="hidden" name="details[page_count]" value="1" />
                                            <input type="hidden" name="details[finished]" value="0" />
                                            <input type="hidden" name="form_build_id" value="form-JX91CUji0rmSl37xXB0IaczBOCpKR8xHLehH-9bab7I" />
                                            <input type="hidden" name="form_id" value="webform_client_form_50" />                                                                                                                                                                                                                                               
                                            <div class="captcha">
                                                <input type="hidden" name="captcha_sid" value="757565" />
                                                <input type="hidden" name="captcha_token" value="3c6c05c99642d79f62f291e102d2c916" />
                                                <img src="image_captchaaac2.jpg?sid=757565&amp;ts=1378737570" width="180" height="60" alt="Image CAPTCHA" title="Image CAPTCHA" />
                                                <div class="reload-captcha-wrapper">
                                                    <a href="captcha/refresh/webform_client_form_50.json" class="reload-captcha"> </a>
                                                </div>
                                                <div class="form-item form-type-textfield form-item-captcha-response">
                                                    <label for="edit-captcha-response">Введите символы с картинки <span class="form-required" title="Обязательное поле">*</span></label>
                                                    <input type="text" id="edit-captcha-response" name="captcha_response" value="" size="15" maxlength="128" class="form-text required" />
                                                    <div class="description">Enter the characters shown in the image.</div>
                                                </div>
                                            </div>
                                            <div class="form-actions form-wrapper" id="edit-actions">
                                                <input class="bttn btn form-submit" type="submit" id="edit-submit" name="op" value="Отправить заявку" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
    </article>
    </div>
</div>