/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.node-type-long-page.page-node-255 .field-big-img .slide, .node-type-long-page.page-node-316 .field-big-img .slide {
    background-position-x: 65%;   
}

.node-type-long-page .field-big-img {
    box-shadow: 0 -4px 8px 3px #a3a3a3;
    border-bottom: 1px solid #dbdbdb;
}

.node-type-long-page .slide .down_arrow {
    display: none;
}